@model Eventures.ViewModels.Events.AllEventsViewModel

@{
    ViewData["Title"] = "All Events";
}

<h1 class="text-center">All Events</h1>
<hr class="hr-2" />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Place</th>
        </tr>
    </thead>
    <tbody>
        @{ int index = 1; }
        @foreach (var item in Model.Events)
        {
            <tr>
                <th scope="row">@index</th>
                <td>@item.Name</td>
                <td>@item.StartStr</td>
                <td>@item.EndStr</td>
                <td>@item.Place</td>
            </tr>

            index++;
        }
    </tbody>
</table>